a {
    color: blue;
    text-decoration: none;
    }
    
    b {
        color: blue;
        text-decoration: none;
        }
    
        c {
            color: blue;
            text-decoration: none;
            }
            